* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: 14px;
}

nav a {
    font-size: 16px;
    display: inline-block;
    line-height: 24px;
    font-weight: 400;
    color: rgb(0,0,0, 0.87);
    cursor: pointer;
    padding: 5px 6.7px;
}

nav a:hover {
    text-decoration: underline;
}

nav img { 
    width: 28px;
    padding: 5px;
    margin: auto 7px;
    color:#5f6368;
    cursor: pointer;
}

nav img:hover {
    opacity: .6;
}

nav button {
    border: 1px solid #4285f4;
    outline: none;
    background: #4285f4;
    color: #fff;
    padding: 7px 12px;
    border-radius: 3px;
    margin-left: 7px;
    cursor: pointer;
}

nav button:hover {
    opacity: .8;
}

.section-1 {
    flex: 1;
}

.section-1 .logo {
    display: block;
    margin: 0px auto;
    margin-top: -100px; 
    width: 350px;
    position: relative;
}

.s-box {
    width: 700px;
    margin: 0px auto;
    position: relative;
    margin-top: -150px;
    text-align: center;
}

.s-box .s-input {
    display: block;
    border: 1px solid #ddd;
    color: rgba(0,0,0, 0.87);
    font-size: 16px;
    padding: 15px;
    padding-left: 60px;
    border-radius: 50px;
    width: 100%;
    /* transition: 100ms; */
    outline: none;
}

.s-box .s-input:hover {
    border: 1px solid #fff;
    box-shadow: 0 0 2px rgba(0,0,0, 0.05),
                0 0 2px rgba(0,0,0, 0.05),
                0 0 3px rgba(0,0,0, 0.05),
                0 0 4px rgba(0,0,0, 0.05),
                0 0 5px rgba(0,0,0, 0.05),
                0 0 4px rgba(0,0,0, 0.05),
                0 0 5px rgba(0,0,0, 0.05)
}

.s-box .search-icon {
    width: 20px;
    opacity: .4;
    position: absolute;
    top: 17px;
    left: 19px;
}

.s-box .mic-icon {
    width: 14px;
    position: absolute;
    top: 17px;
    right: 24px;
}

.s-btn {
    border: 1px solid transparent;
    padding: 9px 15px;
    color: #666;
    font-size: 18px;
    border-radius: 4px;
    display: inline-block;
    margin-right: 10px;
    margin-top: 28px;
    outline: none;
    cursor: pointer;
    transition: border color 100ms;
}

.s-btn:hover {
    border: 1px solid #aaa;
}

.lang {
    margin-top: 30px;
    text-align: center;
    font-size: 16px;
    color: #111;
}

.lang a {
    margin-left: 5px;
    color: #1a0dab
}

.lang a:hover {
    text-decoration: underline;
}

footer {
    background: #f2f2f2;
}

footer h4 {
    color: rgba(0,0,0, 0.54);
    font-size: 15px;
    line-height: 39.5px;
    font-weight: 400;
    padding-left: 29px;
    border: 1px solid #eee;
}

footer a {
    color: #5f6368;
    display: inline-block;
    padding: 12px 11.3px;
    font-size: 14px;
}

footer a:hover {
    text-decoration: underline;
}

.links {
    border-top: 1px solid #ddd;
    display: flex;
}

.link-1 {
    padding-left: 18.7px;
}

.link-2 {
    padding-right: px;
}